<section>
    <h2>Crie sua própia sala</h2>
    <form action="/create-room" method="POST">
        <label class="sr-only" for="room-pass">Código da sala</label>
        <input type="password" name="password" id="room-pass" placeholder="Insira sua senha" >
        <button>
            <img src="/images/users 2.svg" alt="Entrar na Sala">
            Criar Sala
        </button>
    </form>
</section>
            